.contedor-portal form{
    display: grid;
    grid-template-columns: 80% 20%;
}
.con-funtion-fil{
    display: grid;
    row-gap: 10px;
    justify-content: center;
}
.con-filtros{
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-auto-rows: 30px;
    column-gap: 25px;
    row-gap: 25px;
}