.usuario{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: 50px;
    
}
.usuario label{
    color: #F36F31;
    font-weight: bold;
    display: block;
}
.usuario span{
    color: #0077C6;
    margin-bottom: 10px;
}
.line{
    padding: 0.5px;
    width: 100%;
    background-color: rgba(136, 136, 136, 0.753);
    margin-top: 10px;
}
.btn-recurrente{
    padding: 10px 40px;
    border: 1px solid #F36F31;
    border-radius: 5px;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}
.recurrente label{
    color: #F36F31;
    font-size: 10px;
    position: relative;
    top: -42px;
    left: 22px;
}
.usuario .solicitante{
    color: #F36F31;
}
.main-pqr{
    margin-bottom: 20px;
    display: grid;
    grid-column: 2/3;  
    grid-row: 3/4;
}
.usuario input[type="text"],input[type="number"] {
    border: 1px solid #0077C6;
    width: 100%;
}
.usuario span select{
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 2px 10px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #ffffff;
	color: #0077C6;
	font-size: 1em;
	color: #0077C6;
	border:1px solid #0077C6;
    border-radius: 3px;
    position: relative;
    transition: all 0.25s ease
}
.usuario textarea{
    width: 100%;
    padding: 15px 10px;
    color: #0077C6;
    font-size: 16px;
    border: 1px solid #0077C6;
    border-radius: 3px;
    outline: 0px;
    
}